<div class="sidebar-content">
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-users"></i>
            <span>
                <a routerLink="/users">Users</a>
            </span>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-building"></i>
            <span>
                <a routerLink="/companies">Companies</a>
            </span>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-user-circle-o"></i>
            <span>
                <a routerLink="/client">Client</a>
            </span>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-info-circle"></i>
            <span>
                <a routerLink="/about">About</a>
            </span>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-phone"></i>
            <span>
                <a routerLink="/contact">Contact</a>
            </span>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa fa-cogs"></i>
            <span>
                <a routerLink="/setting">Setting</a>
            </span>
        </li>
    </ul>
</div>

