 <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click) ="SideBarToggle()" >
    <i class="fa fa-bars"></i>
  </div>

  <a class="navbar-brand px-4" href="#"> <img class="banner" src="/assets/images/logo-Assimilate.webp"/></a>
   <!-- <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button"
        data-bs-toggle="dropdown">
      
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Child 1</a></li>
        <li><a class="dropdown-item" href="#">Child 2</a></li>
        <li><a class="dropdown-item" href="#">Child 3</a></li>
      </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button"
        data-bs-toggle="dropdown">
           
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Child 1</a></li>
        <li><a class="dropdown-item" href="#">Child 2</a></li>
        <li><a class="dropdown-item" href="#">Child 3</a></li>
      </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button"
        data-bs-toggle="dropdown">
        
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Child 1</a></li>
        <li><a class="dropdown-item" href="#">Child 2</a></li>
        <li><a class="dropdown-item" href="#">Child 3</a></li>
      </ul>
      </li>
    </ul>
</div>  -->

<form class="d-flex me-3" id="searchForm">
  <input class="form-control me-1 " type="search" placeholder="Search">
  <button class="btn btn-outline-light" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form> 
<div class="profile-logo dropdown">
  <button 
   class="btn btn-outline-light dropdown-toggle"
   data-bs-toggle="dropdown"
 >
 
 <i class="fa fa-user-circle" aria-hidden="true"></i>
 </button>
 <ul class="dropdown-menu dropdown-menu-dark">
   <li><a href="#" class="dropdown-item">Sign Up</a></li>
   <li><a href="#" class="dropdown-item">Log In</a></li>
   <li><a href="#" class="dropdown-item">Log Out</a></li>
 </ul>
</div> 
</nav>