/* You can add global styles to this file, and also import other style files */
.is__invalid-error {
	color: #e11d48;
}

.btn{
	transition: all .5s ease;
	width: 100%;
	/* border-radius: 30px; */
	color:white !important;
	font-weight: 600;
	background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	border: 2px solid  #0f0c29;
	margin-top: 1.5em;
	margin-bottom: 1em;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    /* margin: 18px; */
}

.btn:hover, .btn:focus{
background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	color: black;
} 